---
import Head from '~/components/base/Head.astro'

interface Props {
  title: string
  description: string
  ogImage?: string
}

const { title, description, ogImage } = Astro.props
---

<html lang="en">
  <Head {title} {description} {ogImage} />
  <body>
    <main class="w-full h-full">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  /* Basic global styles to ensure a clean look */
</style>
